In [41]:
from pathlib import Path
import kagglehub
import pandas as pd
import numpy as np

In [2]:
path = kagglehub.dataset_download("paultimothymooney/stock-market-data/")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/paultimothymooney/stock-market-data?dataset_version_number=74...

100%|█████████████████████████████████████| 1.03G/1.03G [06:23<00:00, 2.89MB/s]

Extracting files...

Path to dataset files: C:\Users\mateu\.cache\kagglehub\datasets\paultimothymooney\stock-market-data\versions\74

In [42]:
PATH_RAW = Path("raw")

In [43]:
!ls C:\Users\mateu\.cache\kagglehub\datasets\paultimothymooney\stock-market-data\versions\74\stock_market_data\sp500\csv\GOOG.csv

C:\Users\mateu\.cache\kagglehub\datasets\paultimothymooney\stock-market-data\versions\74\stock_market_data\sp500\csv\GOOG.csv

In [44]:
sp500_path = Path(path + "/stock_market_data/sp500/csv/GOOG.csv")

In [45]:
df_goog = pd.read_csv(sp500_path, parse_dates=["Date"], index_col="Date", usecols=["Date","Adjusted Close"], dayfirst=True)

In [46]:
df_goog

            Adjusted Close
Date
2004-08-19        2.499133
2004-08-20        2.697639
2004-08-23        2.724787
2004-08-24        2.611960
2004-08-25        2.640104
...                    ...
2022-12-06       97.309998
2022-12-07       95.150002
2022-12-08       93.949997
2022-12-09       93.070000
2022-12-12       92.474998

[4612 rows x 1 columns]

In [47]:
df_goog["Adjusted Close"].pct_change()

Date
2004-08-19         NaN
2004-08-20    0.079430
2004-08-23    0.010064
2004-08-24   -0.041408
2004-08-25    0.010775
                ...
2022-12-06   -0.025633
2022-12-07   -0.022197
2022-12-08   -0.012612
2022-12-09   -0.009367
2022-12-12   -0.006393
Name: Adjusted Close, Length: 4612, dtype: float64

In [48]:
df_goog["LogReturn"] = np.log(df_goog["Adjusted Close"] / df_goog["Adjusted Close"].shift(1))

In [49]:
df_goog

            Adjusted Close  LogReturn
Date
2004-08-19        2.499133        NaN
2004-08-20        2.697639   0.076433
2004-08-23        2.724787   0.010013
2004-08-24        2.611960  -0.042289
2004-08-25        2.640104   0.010717
...                    ...        ...
2022-12-06       97.309998  -0.025968
2022-12-07       95.150002  -0.022447
2022-12-08       93.949997  -0.012692
2022-12-09       93.070000  -0.009411
2022-12-12       92.474998  -0.006414

[4612 rows x 2 columns]

In [50]:
df_goog = df_goog.drop(columns=["Adjusted Close"])

In [51]:
df_goog = df_goog.dropna()

In [52]:
df_goog.head()

            LogReturn
Date
2004-08-20   0.076433
2004-08-23   0.010013
2004-08-24  -0.042289
2004-08-25   0.010717
2004-08-26   0.017859

In [55]:
df_goog.to_parquet(PATH_RAW/ "googl_returns.parquet", index=True)